/* src/styles/App.css */
nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.comic-list {
  display: flex;
  flex-wrap: wrap;
}

.comic-card {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;

}